html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3,1fr);
}

.square{
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  
}

.square_crosses {
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(89,13,161,1) 50%, rgba(159,127,167,1) 100%);
}

.square_noughts {
  background: linear-gradient(0deg, rgba(169,34,195,1) 0%, rgba(253,45,45,1) 100%);;
}

.reset {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 1rem;
}